@if (recipe) {
<mat-list-item [ngClass]="{completed: recipe.completed}">
  <div>
    <span class="recipe-title" [ngClass]="{ highlighted: recipe.isHighlighted && !recipe.completed }">
      {{ recipe.name }}
    </span>
    <br />
    @for (ingredient of recipe.ingredientsList; track ingredient.name; let i = $index) {
    <span [ngClass]="{ highlighted: ingredient.isHighlighted && !recipe.completed }">{{ ingredient.name }}</span>
    @if (i < recipe.ingredientsList.length - 1) { <span>, </span> }
      }
  </div>
</mat-list-item>
}