<div class="cart-container">
  <h2 class="title">Cart <mat-icon aria-label="Cart icon" fontIcon="add_shopping_cart"></mat-icon></h2>
  @if (cart$ | async; as cart) {
  @if (cart.ingredients.length > 0) {
  <div class="recipe-ing-container">
    <h3>Missing ingredients for {{cart.recipeName}}</h3>
    <mat-chip-set>
      @for (ingredient of cart.ingredients; track ingredient.id) {
      <mat-chip>
        {{ ingredient.name }}
      </mat-chip>
      }
    </mat-chip-set>
    <div class="actions-container">
      <button color="primary" mat-flat-button (click)="checkout()">Checkout cart</button>
      <button color="warn" mat-raised-button (click)="clearCart()">Clear cart</button>
    </div>
  </div>
  }
  }
  @if (loading$ | async) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  }
  @if (error$ | async; as error) {
  <div class="error-message">{{error}}</div>
  }
</div>