html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
}

.error-message {
  margin: 1rem;
  color: #f44336;
}
