<mat-selection-list [ngModel]="(selectedIngredientIds$ | async)" (selectionChange)="onIngredientSelect($event)">
  <h2 class="title">Ingredients <mat-icon aria-label="Ingredients icon" fontIcon="fastfood"></mat-icon></h2>
  @if (error$ | async; as error) {
  <div class="error-message">{{error}}</div>
  }
  @if (loading$ | async) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  } @else {
  @for (ingredient of ingredients$ | async; track ingredient.id) {
  <mat-list-option color="primary" [value]="ingredient.id">
    <span>{{ingredient.name}}</span>
  </mat-list-option>
  }
  }
</mat-selection-list>